<div style="text-align:left" class="container">
  <h3 style="color:green">Data you entered</h3>
  <div>
    <ul class="list-group">
      <div>
        {{# each items }}
        <ul class="list-group">
          <div class="well">


            <li class="list-group-item">Question no.
              <b>{{ this.num }}</b>
            </li>
            <li class="list-group-item">Question: {{ this.question }}</li>
            <li class="list-group-item">1: {{ this.option1 }}</li>
            <li class="list-group-item">2: {{ this.option2 }}</li>
            <li class="list-group-item">3: {{ this.option3 }}</li>
            <li class="list-group-item">4: {{ this.option4}} </li>
             <li class="list-group-item">category: {{this.category}} </li>
            <li class="list-group-item">level: {{this.level }}</li>
            <li class="list-group-item">Correct Answer: {{ this.optionCorrect }}</li>

          </div>
        </ul>

        {{/each}}
        <br/>
        <br/>
      </div>
  </div>
</div>

<table border='0' cellpadding='0' cellspacing='0' width='700px' align='center'>
  <tr>
    <td align='center'>
      <input type="button" onclick="history.back(-1)" class="back" name='back' value="BACK">
      <br>
      </br>
      <br>
      </br>
    </td>
  </tr>
</table>
<style>
  .back {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 300px;
    width: 200px;
    padding: 12px;
    margin-top: 8px;
    font-family: "Comic Sans MS", "Comic Sans";
    cursor: pointer;
    line-height: 1;
    border-radius: 5px;
    font-size: 20px;
    -webkit-appearance: none;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.4);
    outline: none
  }

  .back:hover {
    background-color: #36b051;
    color: #fff;
  }
</style>