<div style="text-align:center" class="container">
  <h3 style="color:green">Data you entered</h3>

  <hr>
  <br>
  </br>

  <table class="questions">
    <thead>
      <tr>
        <th>
          <b>NUMBER</b>
        </th>
        <th class="w">
          <b>QUESTION</b>
        </th>
        <th>
          <b>OPTION 1</b>
        </th>
        <th>
          <b>OPTION 2</b>
        </th>
        <th>
          <b>OPTION 3</b>
        </th>
        <th>
          <b>OPTION 4</b>
        </th>
        <th>
          <b>CORRECT OPTION</b>
        </th>
        <th>
          <b>CATEGORY</b>
        </th>
        <th>
          <b>LEVEL</b>
        </th>
      </tr>
    </thead>
    <tbody>
      {{# each items }}
      <tr>

        <td>{{ this.num }}</td>
        <td>{{ this.question }}</td>
        <td> {{ this.option1 }}</td>
        <td> {{ this.option2 }}</td>
        <td> {{ this.option3 }}</td>
        <td> {{ this.option4}} </td>
        <td> {{ this.optionCorrect }}</td>
        <td> {{this.category}}</td>
        <td>{{this.level }}</td>

      </tr>

      {{/each}}
      <tr>
    </tbody>
  </table>
  </div>
  
  <br>
  <input type="button" onclick="history.back(-1)" class="back" name='back' value="BACK">
  <br>
  </br>
  <br>
  </br>


  <style>
    body {
      padding: 16px;
      text-align: center;
    }

    .questions {
      width: 100%;
      margin: 20px auto;
      table-layout: auto;
    }

    .fixed {
      table-layout: fixed;
    }

    table,
    td,
    th {
      border-collapse: collapse;
    }

    th,
    td {
      padding: 10px;
      border: solid orange 2px ;
      text-align: center;
    }

    .w {
      width: 350px;
    }

    .back {
      background-image: url(../images/arrow.png);
      background-repeat: no-repeat;
      background-position: 300px;
      width: 200px;
      padding: 12px;
      margin-top: 8px;
      font-family: "Comic Sans MS", "Comic Sans";
      cursor: pointer;
      line-height: 1;
      border-radius: 5px;
      font-size: 20px;
      -webkit-appearance: none;
      box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.4);
      outline: none
    }

    .back:hover {
      background-color: #36b051;
      color: #fff;
    }
  </style>